.not-found {
    text-align: center;
}

.not-found h2 {
    font-size: 30px;
    color: #066022
}

.not-found p {
    font-size: 25px;
    margin: 5px 0px 10px 0;
}

.not-found a {
    font-size: 20px;
    color: #880085;
}